<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search Authors" aria-label="searchString"
    aria-describedby="basic-addon1" (keyup)="searchAuthors($event)">
</div>
<h3>List of Authors in LMS</h3>
<h4>
  <button type="button" class="btn btn-success" (click)="open(createAuthorModal)">Create new Author</button>
</h4>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author Name</th>
      <th scope="col">Books Written</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of pagedItems; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{author.authorName}}</td>
      <td><span *ngFor="let book of author.books">{{book.title}} |</span></td>
      <td><button type="button" class="btn btn-warning">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="deleteAuthor(author.authorId)">Delete</button></td>
    </tr>
  </tbody>
</table>

<div class="ds-l-row ds-u-margin-top--3">
  <div class="ds-l-sm-col--9">
    <ngb-pagination [collectionSize]="authorsSize" [(page)]="pager.currentPage" [maxSize]="5" [boundaryLinks]="true"
      (pageChange)="setPage($event)"></ngb-pagination>
  </div>
</div>
<ng-template #createAuthorModal let-c="close" let-d="dismiss">
  <form class="form-horizontal" #createAuthorForm="ngForm" (ngSubmit)="createAuthor(createAuthorForm)">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Author</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" name="authorName" #authorName="ngModel" [(ngModel)]="author.authorName"><br />
          <select multiple size="5">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>4</option>
            <option>4</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
